body 
{
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom: 2px solid maroon;
}

.header .column 
{
  width: 1000px;
  margin: 0px auto;
}

.page .column 
{
  height: 500px;
}

#logo-i-social 
{
  display: flex;
}

#logo-holder 
{
  flex-grow: 1;
  margin: 10px;
}

#social-holder 
{
  flex-grow: 1;
  text-align: right;
  margin-top: 30px;
}

#social-holder a 
{
  text-decoration: none;
}

#social-holder a img 
{
  width: 24px;
  height: 24px;
  margin: 5px;
}

#main-menu 
{
  display: flex;
}

#main-menu a 
{
  flex-grow: 1;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: maroon;
  transition: 400ms;
}

#main-menu a:hover,
#main-menu a.active 
{
  background: maroon;
  color: white;
}

#pocetna 
{
  text-align: center;
  color: white;
  /* dve tacke vracaju folder nazad*/
  background: url("../assets/img/pozadine/pozadina1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#pocetna h1 
{
  font-size: 68pt;
  margin-top: 0px;
  padding-top: calc(50vh - 250px);
  color: white;
}

#o-nama h3 
{
  color: red;
}

/* sapeintlion - submenu implementation */
#main-menu .food-menu
{
  cursor: pointer;
  flex-grow: 1;
  font-family: 'Times New Roman', Times, serif;
  color: maroon;
  text-align: center;
  transition: 0.4s;
  padding: 10px 0 10px 0;
}

#main-menu .food-menu:hover
{
  background-color: maroon;
  color: white;
}

#main-menu .food-menu .food-menu-items
{
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: maroon;
  /* When mouse is not over the element, hide the submenu */
  display: none;
  position: absolute;
  top: 172px;
  width: 145px;
}

#main-menu .food-menu:hover .food-menu-items
{
  /* Enable the submenu and reveal all of the menu items when mouse is over the parent element */
  display: block;
}

#main-menu .food-menu-items a
{
  padding: 10px;
}
/* Submenu implementation - end */

.dark-box 
{
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 44pt;
  padding: 40px;
  margin-top: 150px;
  font-family: Castellar;
}

.blok 
{
  display: block;
  padding: 50px 0;
  text-align: center;
}

.grid 
{
  width: 90%;
  max-width: 900px;
  margin: 60px auto;
}

.kolona-33 
{
  width: 33.3%;
  float: left;
}

.kolona-50 {
  width: 50%;
  float: left;
}

/* Newline */
.clear 
{
  clear: both;
  display: block;
}

/*responsive*/
@media all and (max-width: 800px) 
{
  .kolona-33 
  {
    width: 50%;
  }
}

@media all and (max-width: 600px)
{
  .kolona-33,
  .kolona-50 
  {
    width: 100%;
    float: none;
  }
}

.dodaj-u-korpu 
{
  background-color: maroon;
  color: white;
  border-color: none;
  width: 55%;
  height: 50%;
}
/*	KRAJ - kartice za prodaju hrane*/

.footer-main 
{
  padding-top: 10px;
  position: relative;
  bottom: 0;
  background-color: maroon;
  height: auto;
  width: 100%;
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

.footer-main p 
{
  font-size: 15pt;
  font-family: Times;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-main_row {
  width: 40%;
}
/*kraj footera-main*/

.footer-bottom 
{
  padding-top: 10px;
  position: relative;
  bottom: 0;
  background-color: maroon;
  height: auto;
  width: 100%;
  margin-top: bottom;
  display: flex;
  justify-content: center;
}

.footer-bottom p 
{
  font-size: 12pt;
  font-family: Times;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-bottom_row 
{
  width: 40%;
}
/*kraj footera-bottom*/
